<h1> <%= @list.name %> </h1>

<br>
<% @list.bookmarks.each do |bookmark| %>
  <p>Title: <%= bookmark.movie.title %></p>
  <p>Comment: <%= bookmark.comment %></p>
  <img src="<%= bookmark.movie.poster_url %>" alt="movie poster" style="width:200px;height:300px;">
  <%= link_to "Delete bookmark", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %>

<% end %>
<br>
<br>
<%= link_to "Add movie", new_list_bookmark_path(@list) %>
